<!-- extend from base layout -->
{% extends "base.html" %}

{% block middle_column %}
<h1>Sign In</h1>
<form action="" method="post" name="login" class="form-horizontal well well-large">
    {{form.hidden_tag()}}
    <h3>Please enter your login details:</h3>
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          {{form.username(size=80)}}
        </div>
    </div>
    {% for error in form.errors.username %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          {{form.password(size=80)}}
        </div>
    </div>
    {% for error in form.errors.password %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            {{form.remember_me}} Remember Me
          </label>
          <button type="submit" class="btn">Sign in</button>
        </div>
    </div>
</form>
{% endblock %}