Babel==1.3
Flask==0.10.1
Flask-Babel==0.9
Flask-Bootstrap==2.3.2.1
Flask-DebugToolbar==0.8.0
Flask-Login==0.2.6
Flask-Mail==0.9.0
Flask-OpenID==1.1.1
Flask-SQLAlchemy==1.0
Flask-Script==0.5.3
Flask-WTF==0.8.4
Flask-WhooshAlchemy==0.55a
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.2
Tempita==0.5.1
WTForms==1.0.4
Werkzeug==0.9.3
Whoosh==2.5.1
blinker==1.3
decorator==3.4.0
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
itsdangerous==0.22
python-openid==2.2.5
pytz==2013b
simple-pbkdf2==1.0
simplejson==3.3.0
speaklater==1.3
-e git://github.com/lugensa/sqlalchemy-migrate.git@cab6667cee6c939958531168107c9e2d4298e7bb#egg=sqlalchemy_migrate-dev
wsgiref==0.1.2
